
.message {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    scroll-behavior: auto;
}
.message .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}
.message h1:hover .anchor .octicon-link:before,
.message h2:hover .anchor .octicon-link:before,
.message h3:hover .anchor .octicon-link:before,
.message h4:hover .anchor .octicon-link:before,
.message h5:hover .anchor .octicon-link:before,
.message h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: " ";
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}
.message details,
.message figcaption,
.message figure {
    display: block;
}
.message summary {
    display: list-item;
}
.message [hidden] {
    display: none !important;
}
.message a {
    background-color: transparent;
    color: #0969da;
    text-decoration: none;
}
.message abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
.message b,
.message strong {
    font-weight: 600;
}
.message dfn {
    font-style: italic;
}
.message h1 {
    margin: 0.67em 0;
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #d0d7deb3;
}
.message mark {
    background-color: #fff8c5;
    color: #1f2328;
}
.message small {
    font-size: 90%;
}
.message sub,
.message sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.message sub {
    bottom: -0.25em;
}
.message sup {
    top: -0.5em;
}
.message img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #ffffff;
}
.message code,
.message kbd,
.message pre,
.message samp {
    font-family: monospace;
    font-size: 1em;
}
.message figure {
    margin: 1em 40px;
}
.message hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid #d0d7deb3;
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #d0d7de;
    border: 0;
}
.message input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.message [type="button"],
.message [type="reset"],
.message [type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}
.message [type="checkbox"],
.message [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.message [type="number"]::-webkit-inner-spin-button,
.message [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
.message [type="search"]::-webkit-search-cancel-button,
.message [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}
.message ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
.message ::-webkit-file-upload-button {
    -webkit-appearance: button;
    appearance: button;
    font: inherit;
}
.message a:hover {
    text-decoration: underline;
}
.message ::placeholder {
    color: #636c76;
    opacity: 1;
}
.message hr::before {
    display: table;
    content: "";
}
.message hr::after {
    display: table;
    clear: both;
    content: "";
}
.message table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}
.message td,
.message th {
    padding: 0;
}
.message details summary {
    cursor: pointer;
}
.message details:not([open]) > *:not(summary) {
    display: none;
}
.message a:focus,
.message [role="button"]:focus,
.message input[type="radio"]:focus,
.message input[type="checkbox"]:focus {
    outline: 2px solid #0969da;
    outline-offset: -2px;
    box-shadow: none;
}
.message a:focus:not(:focus-visible),
.message [role="button"]:focus:not(:focus-visible),
.message input[type="radio"]:focus:not(:focus-visible),
.message input[type="checkbox"]:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}
.message a:focus-visible,
.message [role="button"]:focus-visible,
.message input[type="radio"]:focus-visible,
.message input[type="checkbox"]:focus-visible {
    outline: 2px solid #0969da;
    outline-offset: -2px;
    box-shadow: none;
}
.message a:not([class]):focus,
.message a:not([class]):focus-visible,
.message input[type="radio"]:focus,
.message input[type="radio"]:focus-visible,
.message input[type="checkbox"]:focus,
.message input[type="checkbox"]:focus-visible {
    outline-offset: 0;
}
.message kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    line-height: 10px;
    color: #1f2328;
    vertical-align: middle;
    background-color: #f6f8fa;
    border: solid 1px #afb8c133;
    border-bottom-color: #afb8c133;
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 #afb8c133;
}
.message h1,
.message h2,
.message h3,
.message h4,
.message h5,
.message h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.message h2 {
    font-weight: 600;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #d0d7deb3;
}
.message h3 {
    font-weight: 600;
    font-size: 1.25em;
}
.message h4 {
    font-weight: 600;
    font-size: 1em;
}
.message h5 {
    font-weight: 600;
    font-size: 0.875em;
}
.message h6 {
    font-weight: 600;
    font-size: 0.85em;
    color: #636c76;
}
.message p {
    margin-top: 0;
    margin-bottom: 10px;
}
.message blockquote {
    margin: 0;
    padding: 0 1em;
    color: #636c76;
    border-left: 0.25em solid #d0d7de;
}
.message ul,
.message ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}
.message ol ol,
.message ul ol {
    list-style-type: lower-roman;
}
.message ul ul ol,
.message ul ol ol,
.message ol ul ol,
.message ol ol ol {
    list-style-type: lower-alpha;
}
.message dd {
    margin-left: 0;
}
.message tt,
.message code,
.message samp {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
}
.message pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    word-wrap: normal;
}
.message .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}
.message input::-webkit-outer-spin-button,
.message input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}
.message .mr-2 {
    margin-right: 0.5rem !important;
}
.message::before {
    display: table;
    content: "";
}
.message::after {
    display: table;
    clear: both;
    content: "";
}
.message > *:first-child {
    margin-top: 0 !important;
}
.message > *:last-child {
    margin-bottom: 0 !important;
}
.message a:not([href]) {
    color: inherit;
    text-decoration: none;
}
.message .absent {
    color: #d1242f;
}
.message .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}
.message .anchor:focus {
    outline: none;
}
.message p,
.message blockquote,
.message ul,
.message ol,
.message dl,
.message table,
.message pre,
.message details {
    margin-top: 0;
    margin-bottom: 16px;
}
.message table{
    margin-top: 0;
    margin-bottom: 16px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}
.message table::-webkit-scrollbar {
    width: 6px;
}
.message table::-webkit-scrollbar-track {
background: transparent;
}
.message table::-webkit-scrollbar-thumb {
background-color: #bbb;
border-radius: 4px;
}
.message table::-webkit-scrollbar-thumb:hover {
background-color: #bbb;
}
.message blockquote > :first-child {
    margin-top: 0;
}
.message blockquote > :last-child {
    margin-bottom: 0;
}
.message h1 .octicon-link,
.message h2 .octicon-link,
.message h3 .octicon-link,
.message h4 .octicon-link,
.message h5 .octicon-link,
.message h6 .octicon-link {
    color: #1f2328;
    vertical-align: middle;
    visibility: hidden;
}
.message h1:hover .anchor,
.message h2:hover .anchor,
.message h3:hover .anchor,
.message h4:hover .anchor,
.message h5:hover .anchor,
.message h6:hover .anchor {
    text-decoration: none;
}
.message h1:hover .anchor .octicon-link,
.message h2:hover .anchor .octicon-link,
.message h3:hover .anchor .octicon-link,
.message h4:hover .anchor .octicon-link,
.message h5:hover .anchor .octicon-link,
.message h6:hover .anchor .octicon-link {
    visibility: visible;
}
.message h1 tt,
.message h1 code,
.message h2 tt,
.message h2 code,
.message h3 tt,
.message h3 code,
.message h4 tt,
.message h4 code,
.message h5 tt,
.message h5 code,
.message h6 tt,
.message h6 code {
    padding: 0 0.2em;
    font-size: inherit;
}
.message summary h1,
.message summary h2,
.message summary h3,
.message summary h4,
.message summary h5,
.message summary h6 {
    display: inline-block;
}
.message summary h1 .anchor,
.message summary h2 .anchor,
.message summary h3 .anchor,
.message summary h4 .anchor,
.message summary h5 .anchor,
.message summary h6 .anchor {
    margin-left: -40px;
}
.message summary h1,
.message summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}
.message ul.no-list,
.message ol.no-list {
    padding: 0;
    list-style-type: none;
}
.message ol[type="a s"] {
    list-style-type: lower-alpha;
}
.message ol[type="A s"] {
    list-style-type: upper-alpha;
}
.message ol[type="i s"] {
    list-style-type: lower-roman;
}
.message ol[type="I s"] {
    list-style-type: upper-roman;
}
.message ol[type="1"] {
    list-style-type: decimal;
}
.message div > ol:not([type]) {
    list-style-type: decimal;
}
.message ul ul,
.message ul ol,
.message ol ol,
.message ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.message li > p {
    margin-top: 16px;
}
.message li + li {
    margin-top: 0.25em;
}
.message dl {
    padding: 0;
}
.message dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}
.message dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}
.message table th {
    font-weight: 600;
}
.message table th,
.message table td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
}
.message table td > :last-child {
    margin-bottom: 0;
}
.message table tr {
    background-color: #ffffff;
    border-top: 1px solid #d0d7deb3;
}
.message table tr:nth-child(2n) {
    background-color: #f6f8fa;
}
.message table img {
    background-color: transparent;
}
.message img[align="right"] {
    padding-left: 20px;
}
.message img[align="left"] {
    padding-right: 20px;
}
.message .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}
.message span.frame {
    display: block;
    overflow: hidden;
}
.message span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #d0d7de;
}
.message span.frame span img {
    display: block;
    float: left;
}
.message span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #1f2328;
}
.message span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
.message span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}
.message span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
.message span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}
.message span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}
.message span.align-right span img {
    margin: 0;
    text-align: right;
}
.message span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}
.message span.float-left span {
    margin: 13px 0 0;
}
.message span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}
.message span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}
.message code,
.message tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #afb8c133;
    border-radius: 6px;
}
.message code br,
.message tt br {
    display: none;
}
.message del code {
    text-decoration: inherit;
}
.message samp {
    font-size: 85%;
}
.message pre code {
    font-size: 100%;
}
.message pre > code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
.message .highlight {
    margin-bottom: 16px;
}
.message .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}
.message .highlight pre,
.message pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: #1f2328;
    background-color: #f6f8fa;
    border-radius: 6px;
}
.message pre code,
.message pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
.message .csv-data td,
.message .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}
.message .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #ffffff;
    border: 0;
}
.message .csv-data tr {
    border-top: 0;
}
.message .csv-data th {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 0;
}
.message [data-footnote-ref]::before {
    content: "[";
}
.message [data-footnote-ref]::after {
    content: "]";
}
.message .footnotes {
    font-size: 12px;
    color: #636c76;
    border-top: 1px solid #d0d7de;
}
.message .footnotes ol {
    padding-left: 3 6px;
}
.message .footnotes ol ul {
    display: inline-block;
    padding-left: 16px;
    margin-top: 16px;
}
.message .footnotes li {
    position: relative;
}
.message .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid #0969da;
    border-radius: 6px;
}
.message .footnotes li:target {
    color: #1f2328;
}
.message .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}
.message .pl-c {
    color: #57606a;
}
.message .pl-c1,
.message .pl-s .pl-v {
    color: #0550ae;
}
.message .pl-e,
.message .pl-en {
    color: #6639ba;
}
.message .pl-smi,
.message .pl-s .pl-s1 {
    color: #24292f;
}
.message .pl-ent {
    color: #0550ae;
}
.message .pl-k {
    color: #cf222e;
}
.message .pl-s,
.message .pl-pds,
.message .pl-s .pl-pse .pl-s1,
.message .pl-sr,
.message .pl-sr .pl-cce,
.message .pl-sr .pl-sre,
.message .pl-sr .pl-sra {
    color: #0a3069;
}
.message .pl-v,
.message .pl-smw {
    color: #953800;
}
.message .pl-bu {
    color: #82071e;
}
.message .pl-ii {
    color: #f6f8fa;
    background-color: #82071e;
}
.message .pl-c2 {
    color: #f6f8fa;
    background-color: #cf222e;
}
.message .pl-sr .pl-cce {
    font-weight: bold;
    color: #116329;
}
.message .pl-ml {
    color: #3b2300;
}
.message .pl-mh,
.message .pl-mh .pl-en,
.message .pl-ms {
    font-weight: bold;
    color: #0550ae;
}
.message .pl-mi {
    font-style: italic;
    color: #24292f;
}
.message .pl-mb {
    font-weight: bold;
    color: #24292f;
}
.message .pl-md {
    color: #82071e;
    background-color: #ffebe9;
}
.message .pl-mi1 {
    color: #116329;
    background-color: #dafbe1;
}
.message .pl-mc {
    color: #953800;
    background-color: #ffd8b5;
}
.message .pl-mi2 {
    color: #eaeef2;
    background-color: #0550ae;
}
.message .pl-mdr {
    font-weight: bold;
    color: #8250df;
}
.message .pl-ba {
    color: #57606a;
}
.message .pl-sg {
    color: #8c959f;
}
.message .pl-corl {
    text-decoration: underline;
    color: #0a3069;
}
.message [role="button"]:focus:not(:focus-visible),
.message [role="tabpanel"][tabindex="0"]:focus:not(:focus-visible),
.message button:focus:not(:focus-visible),
.message summary:focus:not(:focus-visible),
.message a:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}
.message [tabindex="0"]:focus:not(:focus-visible),
.message details-dialog:focus:not(:focus-visible) {
    outline: none;
}
.message g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
}
.message g-emoji img {
    width: 1em;
    height: 1em;
}
.message .task-list-item {
    list-style-type: none;
}
.message .task-list-item label {
    font-weight: 400;
}
.message .task-list-item.enabled label {
    cursor: pointer;
}
.message .task-list-item + .task-list-item {
    margin-top: 0.25rem;
}
.message .task-list-item .handle {
    display: none;
}
.message .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.4em;
    vertical-align: middle;
}
.message .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em 0.25em 0.2em;
}
.message .contains-task-list {
    position: relative;
}
.message .contains-task-list:hover .task-list-item-convert-container,
.message .contains-task-list:focus-within .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 24px;
    overflow: visible;
    clip: auto;
}
.message ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}
.message .markdown-alert {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: inherit;
    border-left: 0.25em solid #d0d7de;
}
.message .markdown-alert > :first-child {
    margin-top: 0;
}
.message .markdown-alert > :last-child {
    margin-bottom: 0;
}
.message .markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;
}
.message .markdown-alert.markdown-alert-note {
    border-left-color: #0969da;
}
.message .markdown-alert.markdown-alert-note .markdown-alert-title {
    color: #0969da;
}
.message .markdown-alert.markdown-alert-important {
    border-left-color: #8250df;
}
.message .markdown-alert.markdown-alert-important .markdown-alert-title {
    color: #8250df;
}
.message .markdown-alert.markdown-alert-warning {
    border-left-color: #bf8700;
}
.message .markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: #9a6700;
}
.message .markdown-alert.markdown-alert-tip {
    border-left-color: #1a7f37;
}
.message .markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: #1a7f37;
}
.message .markdown-alert.markdown-alert-caution {
    border-left-color: #cf222e;
}
.message .markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: #d1242f;
}
.message > *:first-child > .heading-element:first-child {
    margin-top: 0 !important;
}
